/* EXTERNAL CSS */
/* ---------------------- CARD -------------------------------- */

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);

  padding: 20px;
  margin: 10px;
  text-align: center;

  max-width: 250px;
  display: inline-block;
}

.card .card-img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}

/* --------------------------------- STUDENT ----------------------------------------- */

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p {
  margin: 0;
}

/* ----------------------------------- GREETING -------------------------------------- */
.welcome-message {
  font-size: 2.5rem;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5rem;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

/* ----------------- FRUITS, VEGETABLES - LIST------------------------------ */
.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li {
  font-size: 2em;
  list-style-type: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}